*{
    margin:  0;
}
body{
    background: linear-gradient(#e66465, #9198e5);
}

.text{
    display: flex;
    color: rgb(247, 158, 142);
    text-align: center;
    margin-top: 20px;
    margin-left: 290px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 800px;
    width: 800px;
    border-radius: 1%;
}
.sq{
    border: 2px solid chocolate;
    border-radius: 5%;
    background-color:#fff;
    width: 180px;
    height: 180px;
    box-shadow: 0px 0px 15px 7px brown;
}
.sq span{

}
.tex{
    border: 2px solid brown;
    border-radius: 5%;
    width: 177px;
    height: 43px;
}
span{
    color: brown;
    margin-left: 50px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pic1{
    display: flex;
    width: 120px;
    height: 120px;
    margin-left: 29px;
    margin-top: 5px;
}
.pic3{
    display: flex;
    width: 120px;
    height: 120px;
    margin-left: 29px;
    margin-top: 5px;
}
.sq3{
    border: 2px solid chocolate;
    border-radius: 5%;
    background-color:#fff;
    width: 180px;
    height: 180px;
    box-shadow: 0px 0px 15px 7px brown;
}
.sq4{
    border: 2px solid chocolate;
    border-radius: 5%;
    background-color:#fff;
    width: 180px;
    height: 180px;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 7px brown; 
}
.sq5{
    border: 2px solid chocolate;
    border-radius: 5%;
    background-color:#fff;
    width: 180px;
    height: 180px;
    margin-top: 10px; 
    box-shadow: 0px 0px 15px 7px brown;
}
.sq7{
    border: 2px solid chocolate;
    border-radius: 5%;
    background-color:#fff;
    width: 180px;
    height: 180px;
    margin-top: 10px; 
    box-shadow: 0px 0px 15px 7px brown;
    
}

